table {
    width: 500px;
    height: 300px;
}

th {
    font-weight: normal;
    font-family: 'Courier New';
}

td {
    font-weight: bold;
    text-align: center;
    font-family: Impact;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana;
}
h2 {
    font-style: italic;
    font-size: 40px;
    font-weight: normal;
    font-family: "Comic Sans MS";
}

p {
font-size: 30px;
font-family: "Trebuchet MS";
}
h3 {
    font-family: Georgia;
}
h4 {
    font-family: "Arial Black";
}