body {
    width: 500px;
}

h1 {
    color:blue;
    text-align: center;
    font-size: 40px;
}
h2 {
    color: green;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}
p {
    text-align: justify;
    line-height: 1.5; 
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 35px;
    font-size: 1.1;
}
li {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 400px;
    line-height: 1.2; 
}
i {
    color: green
}